@import "common.scss";

*{
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper {
	@include whMax;
}



// 主页面容器
.mui-inner-wrap {
	// 主页面标题
	header.mui-bar {
		@include wh(100%, 160px);
		background: #FBE05B;
		mui-bar-nav
		.head-title {
			color: red;
		}
		// 头部账单细节
		.head-details{
			@include box_flex;
			@include wh(100%, 110px);
			margin-top: 44px;
			font-size: 15px;
			// background: hotpink;
			// 左侧
			.h-details-L{
				@include wh(45%, 100%);
				font-size: 14px;
				>p{
					font-size: 14px;
					color: #333;
				}
				>p:first-child {
					margin: 10px 0;
				}
				>p:nth-child(2) {
					margin: 5px 0 15px 0;
					.int{
						font-size: 26px;
						font-weight: 700;
					}
				}
				>p:nth-child(3) {
					.insert-money {
						margin-left: 10px;
						font-weight: 600;
						font-size: 15px;
					}
				}
			}
			// 右侧
			.h-details-R {
				flex: 1;
				@include box_flex;
				@include direction(column);
				// background: #007AFF;
				// 切换年月入
				.change-time{
					@include box_flex;
					>p{
						padding: 0 8px;
						height: 26px;
						line-height: 26px;
						color: #333;
						border: 1px solid #333;
						border-radius: 10px;
						margin-top: 10px;
					}
					// 切换年月按钮
					>p.change {
						margin-left: 30%;
						font-size: 13px;
						line-height: 25px;
						// background: red;
					}
					// 选择日期按钮
					>p.year-mon {
						// background: #2AC845;
						margin-left: 20px;
					}
				}
				
				>p{
					color:#333;
					font-size: 14px;
					margin: 26% 0 7px 65px;
					// margin-bottom: 10px;
					>span{
						display: inline-block;
						margin-right: 10px;
						font-size: 15px;
						font-weight: 600;
					}
				}
			}
		}
	}
	// 主界面内容
	.mui-content {
		padding-top: 160px !important;
		// 主界面具体展示内容 
		
		>.mui-scroll {
			background: #F3F3F3;
			// 切换查询区
			.cont-tap {
				@include wh(100%, 50px);
				@include box_flex;
				@include align;
				@include justify(space-between);
				>div:first-child{
					@include wh(30px, 30px);
					background: #ccc;
				}
				// 账单/canvas切换
				>.tabCanvas{
					overflow: hidden;
					@include box_flex;
					@include align;
					@include justify(space-around);
					font-size: 13px;
					border-radius: 15px;
					border: 1px solid #b7b7b7;
					>p {
						@include sizing;
						padding: 3px 10px;
						width: 50%;
						color: #333;
						text-align: center;
					}
					>p.tap-active {
						background: #FFE146;
					}
				}
				>div:last-child{
					@include wh(30px, 30px);
					background: #ccc;
				}
			}
			// 账单区内容
			ul#OA_task_1 {
				// display: none;
				.mui-slider-handle {
					font-size: 16px;
				}
			}
			// 图表区 canvas
			.mui-scroll-chart {
				display: none;
				@include wh(100%, 400px);
				background: #F3F3F3;
				>div.canvas-img{
					@include box_flex;
					@include wh(100%, 400px);
					>img{
						@include wh(90%, 100%);
					}
				}
			}
			
		}
	}
	// 主界面尾部
	.mui-bar-tab {
		background: #e4eced;
		#addBtn{
			position: relative;
			top: -17px;
			height: 70px;
			line-height: 70px;
			border-radius: 50%;
			background: #FBE05B;
			>.mui-icon-plusempty{
				position: relative;
				// top: -1px;
				left: -17px;
				font-size: 60px;
				font-weight: 1000;
				color: #fff;
			}
		}
	}
}

// 菜单容器
.mui-off-canvas-left {
	// 菜单内容
	.mui-scroll-wrapper {
		background: #f0f0f0;
		// 菜单具体展示内容
		.mui-scroll {
			.slideTop{
				width:100%;
				height: 120px;
				font-size: 14px;
				h2{
					width: 100%;
					height: 40px;
					line-height: 40px;
					font-size: 14px;
					padding: 0 15px;
					box-sizing: border-box;
				}
				p{
					width: 100%;
					height: 80px;
					span{
						display: inline-block;
						border: 1px solid #ccc;
						border-radius: 15px;
						padding:5px;
						margin: 3px;
					}
				}
			}
			.slideType{
				width:100%;
				height: 180px;
				font-size: 14px;
				h2{
					width: 100%;
					height: 40px;
					line-height: 40px;
					font-size: 14px;
					padding: 0 15px;
					box-sizing: border-box;
				}
				p{
					width: 100%;
					height: 140px;
					span{
						display: inline-block;
						border: 1px solid #ccc;
						border-radius: 15px;
						padding:2px 5px;
						margin: 3px;
					}
				}
			}
			.slideFriend{
				width:100%;
				height: 90px;
				font-size: 14px;
				h2{
					width: 100%;
					height: 40px;
					line-height: 40px;
					font-size: 14px;
					padding: 0 15px;
					box-sizing: border-box;
				}
				p{
					width: 100%;
					height: 50px;
					span{
						display: inline-block;
						border: 1px solid #ccc;
						border-radius: 15px;
						padding:5px;
						margin: 3px;
					}
				}
			}
		}
	}
}

.mui-dtpicker-title>h5{
	font-size: 18px;
}

